@import url("https://fonts.cdnfonts.com/css/open-sauce-one");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;400;500;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  nav a {
    @apply text-black font-[600] text-[16px] font-open-sauce-one hover:opacity-50 duration-200;
  }
  .hero-text span {
    @apply w-fit h-fit border-black border-[4px] bg-white font-unbounded text-[21px] vsm:text-[35px] xmd:text-[60px] xl:text-[84px] font-[500] tracking-[-1.68px] leading-[48px] xmd:leading-[84px] p-[6px] xmd:p-[12px];
  }
  .slide ul li {
    @apply text-[24px] vsm:text-[48px] uppercase font-[500] w-fit whitespace-nowrap;
  }
  .services span {
    @apply border-[3px] border-black rounded-[200px] overflow-hidden;
  }
  .services .text-box {
    @apply bg-white text-black py-[9px] pl-[12px] xmd:pl-[18px] pr-[20px] xmd:pr-[30px] flex gap-[12px] items-center;
  }
  .services .text-box p {
    @apply font-[600] font-open-sauce-one text-[16px] xl:text-[36px];
  }
  form label {
    @apply block font-unbounded text-[12px] uppercase font-bold tracking-[0.12px] mb-[18px];
  }
  form input,
  form textarea {
    @apply w-full px-[24px] py-[8px] h-[68px]  focus:outline-[0.50px] focus:outline-black;
  }
  footer span {
    @apply w-fit h-fit border-white border-[4px] p-[8px] xmd:p-[12px] uppercase font-unbounded text-[21px] vsm:text-[30px] xmd:text-[48px] xl:text-[60px] font-[500] leading-[25.2px] vsm:leading-[60px];
  }
  footer .links-wrapper h3 {
    @apply font-unbounded text-[18px] xmd:text-[21px] font-bold;
  }
  footer .links-wrapper ul li {
    @apply text-[18px] xmd:text-[21px] opacity-50 hover:opacity-100 cursor-pointer font-open-sauce-one duration-200;
  }
}

.slide {
  animation: slideLeft 35s infinite linear;
}
@keyframes slideLeft {
  to {
    transform: translateX(-50%);
  }
}
.slide-cont > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    #000,
    transparent 10%,
    transparent 90%,
    #000
  );

  height: 100%;
  width: 100%;
  z-index: 2;
}

.slint {
  display: flex;
  width: 70%;
}
